<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busanit501.blog.mapper.BlogMapper">
    <select id="getTime" resultType="string">
        select now()
    </select>

    <!--    #{title} -> BlogVO, getTitle 로 접근하는 것과 동일한 효과-->
    <insert id="insert">
        insert into test_blog (title,content,date, writer)
        values (#{title},#{content},#{date}, #{writer})
    </insert>

    <!--    여러개 행 조회, 각행의 요소, BlogVO , -->
    <select id="selectAll" resultType="com.busanit501.blog.domain.BlogVO">
        select *
        from test_blog
        order by bno asc
    </select>

    <select id="selectOne" resultType="com.busanit501.blog.domain.BlogVO">
        select *
        from test_blog
        where bno = #{bno}
    </select>

    <delete id="delete">
        delete
        from test_blog
        where bno = #{bno}
    </delete>

    <update id="update">
        update test_blog
        set title    = #{title},
            content = #{content},
            date  = #{date},
            writer = #{writer}
        where bno = #{bno}
    </update>

    <select id="selectList" resultType="com.busanit501.blog.domain.BlogVO">
        select * from test_blog
        <include refid="search"></include>
        order by bno asc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(bno)
        from test_blog
        <include refid="search"></include>
    </select>

    <sql id="search">
        <where>
            <if test="types != null and types.length >0">
                <foreach collection="types" item="type"
                         open="(" close=")" separator="OR">

                    <if test="type == 't'.toString()">
                        title like concat('%',#{keyword},'%')
                    </if>
                    <if test="type == 'w'.toString()">
                        writer like concat('%',#{keyword},'%')
                    </if>
                </foreach>
            </if>

            <if test="from != null and to != null">
                <trim prefix="and">
                    date between #{from} and #{to}
                </trim>
            </if>

        </where>
    </sql>


</mapper>








